<ion-view title="Action Sheet demo">
  	<ion-content>
  		<div class="card">
        <div class="item item-divider">
          $cordovaActionSheet
        </div>
        <div class="item item-text-wrap">
          <p>The Action Sheet plugin shows a native sheet of options the user can choose from. iOS uses the native <code>UIActionSheet</code>. Android uses the native <code>AlertDialog</code>.</p>
        </div>
      </div>
  		<div class="padding">
			<a class="button button-stable button-block" ng-click="showNative()">NgCordova implementation</a>
			<a class="button button-stable button-block" ng-click="showIonic()">Ionic implementation</a>
		</div>
	</ion-content>
</ion-view>
