<ion-view title="Demo for App Rate">
  	<ion-content>
  		<div class="card">
  			<div class="item item-divider">
	          $cordovaAppRate
	      	</div>  			
  			<div class="item item-text-wrap">
  				<p>The <a href="https://github.com/pushandplay/cordova-plugin-apprate">AppRate</a> plugin makes it easy to prompt the user to rate your app, either no or later, or never.</p>
  			</div>
  		</div>

      <div class="padding">
        <a ng-click="promptRating()" class="button button-stable button-block">Prompt Rating</a>
      </div>
  	</ion-content>
</ion-view>